# .gitignore ignores untracked files; .gitattributes are for tracked files
# Quality of answers in decending order:
# GPT-4
# Claude2
# Bard

.latexmkrc merge=ours
*.cfg      merge=ours
*.html     merge=ours
*.mk4      merge=ours
*.css      merge=ours
